@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
@media screen and (min-width: 768px) {
    .inner {
        padding: 2rem;
    }
}
.inner {
    padding: .5rem;
}
@media screen and (min-width: 768px) {
    .callout.large {
        display: flex;
    }
    .nav-menu {
        margin: 0;
        display: inline-block;
        float: right;
    }
    .nav-menu li {
        display: inline-block;
        text-align: center;
        line-height: 150px;
        font-size: 20px;
        margin-left: 2rem
    }
    .nav-menu-wrapper {
        width: 65%;
    }
    .nav-menu a {
        border: 4px solid #e0e0e2;
        background-color: #2b4162;
        padding: 8px;
        transition: all 0.3s ease;
    }
    .nav-menu a:hover {
        background-color: #e0e0e2;
        border: 4px solid #2b4162;
        color: #0b6e4f !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu-wrapper {
        margin: 0 auto;     
    }
    .nav-menu li {
        margin: 0;
        width: 33%;
        text-align: center;
    }
    .nav-menu a {
        background-color: #2b4162;
        border: 4px solid #e0e0e2;
        padding: 8px 10px;
        transition: all 0.3s ease;
    }
    .nav-menu a:hover {
        background-color: #e0e0e2;
        border: 4px solid #2b4162;
        color: #0b6e4f !important;
    }
    .callout.large {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: flex;
        justify-content: center;
        max-width: none;
        width: 100%;
        margin: 0 auto 1rem;
    }
}
ul {
    list-style-type: none;
}

.logo-wrapper {
    width: 200px !important;
}
@media screen and (min-width: 769px) {
    .col {
        width: calc(75% - 2rem);
        position: relative;
    }
    .team-about {
        width: 65%;
        position: absolute;
        top: 0;
        right: 0;
        max-height: 200px !important;
    }
    .container {
        max-width: 50%;
        width: 30%;
    }
    .inner p {
        font-size: 24px !important
    }
    .cols {
        padding: 0 !important;
    }
}
.medium-6.columns.medium-pull-6 .cta {
    text-align: center;
    border: 4px solid #e0e0e2;
    width: 30%;
    background-color: #0b6e4f;
    padding: 4px;
    margin-top: 1rem;
    transition: all 0.3s ease;
}
.medium-6.columns.medium-pull-6 .cta:hover {
    background-color: #2b4162;
    color: #e0e0e2;    
}
.cta-wrapper {
    display: flex;
    justify-content: center;
}
